[postcss]
last 3 versions
> 5%
not dead

[modern]
last 1 chrome version
last 1 edge version
last 1 firefox version
last 1 safari version
node 14

# snapshot of `npx browserslist "maintained node versions"`
# On update check all #stable-snapshot markers
[node]
node 12.0

# same as `node`
[coverage]
node 12.0

# same as `node`
[development]
node 12.0

# same as `node`
[test]
node 12.0

# same as `node`
[benchmark]
node 12.0
