:root {
  --default-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px
}

* {
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.title {
  margin: 0;
}

.code {
  -webkit-box-shadow: var(--default-shadow);
  box-shadow: var(--default-shadow);
}

.code pre {
  max-height: 400px;
}

.code-example-container {
  margin-top: 30px;
}

.toggle-example-code {
  border: 0;
  outline: 0;
  padding: 5px;
  background: #2a2827;
  color: #f7f7f7;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

.container .tab-container {
  background: #ffffff;
  -webkit-box-shadow: var(--default-shadow);
  box-shadow: var(--default-shadow);
}

.container .tab-container.tab-container-center {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

.container .tab-content {
  padding: 20px;
}

@media (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
